@import "./variables.css";

.label-and-search-container {
	position: fixed;
	background: var(--secondary-color);
	padding: 20px;
	margin: 0;
	top: 125px;
	width: 50%;
}

.label-and-search-container h1 {
	margin: 0;
	padding: 5px;
	text-align: center;
}

.label-and-search-container input {
	border: 0px;
	background: var(--primary-color);
	color: var(--text-color);
	margin-left: 25%;
	width: 50%;
}

@media (max-width: 750px) {
	.label-and-search-container {
		top: 180px;
		left: 0;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.label-and-search-container {
		top: 80px;
		left: 0;
		width: 100%;
	}
}

