@import "./variables.css";
.project-container {
	width: 100%;
	height: 100%;
	margin: 40px;
}

.project-container .project-image-container {
	width: 300px;
	height: 200px;
	display: inline-block;
}

.project-container .project-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-container .project-info-container {
	width: 60%;
	display: inline-block;
	background: var(--secondary-color);
	padding: 10px
}

@media (max-width: 1650px) {
	.project-container .project-image-container {
		width: 100%;
		height: 200px;
	}

	.project-container .project-info-container {
		width: 100%;
	}
}
